# RME
rme
rme.cfg
data/user
editor.cfg
mapserver.cfg
*.txt
!CMakeLists.txt

# exe and dll
*.dll
*.exe

# assets
*.spr
*.dat
/assets

# Visual Studio
*.MAP
*.user
*.APS
*.opensdf
*.sdf
*.suo
*.obj
*.db
*.opendb
*.idb
*.pdb
*.pch
*.iobj
*.ipdb
*.recipe
*.tlog
*.lastbuildstate
*.Build.CppClean.log
*.FileListAbsolute.txt
vcpkg.applocal.log

vcproj/ipch/
vcproj/Beta Release/
vcproj/Debug/
vcproj/Release/
vcproj/x64/
vcproj/Project/
vcproj/Editor/Beta Release/
vcproj/Editor/Debug/
vcproj/Editor/Release/
vcproj/Editor/x64/
vcproj/MapServer/Beta Release/
vcproj/MapServer/Debug/
vcproj/MapServer/Release/
vcproj/MapServer/x64/
vcproj/Installer/Beta Release/
vcproj/Installer/Debug/
vcproj/Installer/Release/
vcproj/.vs/
vcproj/Editor/.vs/
vcproj/MapServer/.vs/
.vscode/
.vs/

# Xcode
xcuserdata
.DS_STORE

# CLion
.idea/

# Notepad++
*.bak

#FileContentIndex
*.vsidx

#db-files
*.db-shm
*.db-wal
*.db-journal
*.vsidx

# Local History Extension
/.history

# vcpkg
/vcpkg_installed/
/data

# CMake (Linux build)
/build/
/Editor
/MapServer